.navbar-header {
    width: 100%;
    padding: 10px 20px; 
    background-color: #1c1c1c; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    overflow-x: auto;
    box-sizing: border-box;
  }
  
  .navbar-signature {
    font-size: 2rem; 
    font-family: 'Playfair Display', serif; 
    color: #ffffff; 
    margin-left: 20px;
}


  
  .navbar-nav {
    display: flex;
    gap: 40px; 
    font-size: 1rem; 
  }
  
  .navbar-nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .navbar-nav ul li {
    margin: 0;
  }
  

.navbar-nav ul li a {
    text-decoration: none;
    color: #f8f9fa; 
    font-family: 'Montserrat', sans-serif; 
    transition: color 0.3s ease, transform 0.3s ease; 
}

.navbar-nav ul li a:hover {
    color: #ffffff; 
    transform: scale(1.05); 
}


.navbar-nav {
    display: flex;
    gap: 30px; 
    font-size: 1rem; 
}


.navbar-nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navbar-nav ul li {
    margin: 0;
}


.homepage-nav{
    color: grey;
}


