
:root {
    
        --background-color: #e0e0e0;
        --text-color:linear-gradient(135deg, #e0e0e0, #bdbdbd);
        --card-background: #ffffff;
        --card-shadow: rgba(0, 0, 0, 0.1);
        --primary-color: #3498db;
        --primary-color-dark: #2980b9;
        --secondary-color: #2ecc71;
        --secondary-color-dark: #27ae60;
        --link-color: grey;
        --link-hover-color: grey;
        --main-content-background: linear-gradient(135deg, #ffffff, #f0f0f0);
        --main-content-text-color: #333333;
        --font-family: 'Playfair Display', serif;
        
        
}



.dark-mode {
    --background-color: #2c3e50; 
    --background-gradient: linear-gradient(135deg, #2c3e50, #34495e);
    --text-color: #e0e0e0;
    --card-background: #2e3b4e;
    --card-shadow: rgba(255, 255, 255, 0.1);
    --primary-color: #9c88ff;
    --primary-color-dark: #8c7ae6;
    --secondary-color: #00a8ff;
    --secondary-color-dark: #0097e6;
    --link-color: grey;
    --link-hover-color: grey;
    --main-content-background: linear-gradient(135deg, #3b3b98, #636e72); 
    --main-content-text-color: #f1f2f6;
    --sidebar-background-color: #2c3e50; 

}

body.dark-mode .recipe-details-section{
    color: #e0e0e0;
}

body.dark-mode {
    background: var(--background-gradient);
    color: var(--text-color);

}

.main-content {
    background: var(--main-content-background) !important;
    color: var(--main-content-text-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px var(--card-shadow);
}

.sidebar {
    background-color: var(--sidebar-background-color); 
    color: var(--text-color)!important; 
    padding: 20px;

}

.sidebar-link {
    color: var(--text-color); 
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sidebar-link:hover {
    background-color: var(--primary-color); 
    color: black;
}


body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}


.card {
    background-color: var(--card-background);
    box-shadow: 0 2px 10px var(--card-shadow);
}


.btn-primary {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.btn-primary:hover {
    background-color: var(--primary-color-dark);
}


.theme-toggle-switch {
    display: flex;
    align-items: center;
}

.theme-toggle-switch input[type="checkbox"] {
    display: none;
}

.theme-toggle-switch .slider {
    width: 34px;
    height: 20px;
    background-color: #ccc;
    border-radius: 34px;
    position: relative;
    cursor: pointer;
}

.theme-toggle-switch .slider:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
    transition: 0.3s;
    top: 3px;
    left: 3px;
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:checked + .slider:before {
    transform: translateX(14px);
}


.sidebar {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
}


.sidebar-link {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sidebar-link:hover {
    background-color: var(--primary-color);
    color: white;
}

.main-content {
    background-color: var(--main-content-background);
    color: var(--main-content-text-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px var(--card-shadow);
}


.signin-form-link  {
    color: var(--link-color);
    
     text-decoration: none; 
  }
  
  .signin-form-link:hover {
    color: var(--link-hover-color); 
    text-decoration: underline; 
  }

  .signup-form-link a {
    color: var(--link-color); 
    text-decoration: none; 
  }
  
  .signup-form-link a:hover {
    color: var(--link-hover-color); 
    text-decoration: underline; 
  }





